<ion-view title="Alert Sent" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <div>
            <p>
                <b></b>
            </p>
            <center>
                <h3>
                    <b>
                        ApMA Zon Selamat
                    </b>
                </h3>
            </center>
            <p></p>
        </div>
        <button id="alertSent-button7" class=" button button-positive  button-block ">Bahagian Keselamatan UKM</button>
        <div class="">
            <img src="img/66ym0dLWSvSJ14XNfZ8Z_timer1.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div>
            <p>
            </p>
            <center>
                <b>Alert telah dihantar pada Bahagian Keselamatan UKM</b>
            </center>
            <p></p>
        </div>
        <button id="alertSent-button8" class=" button button-balanced  button-block ">Pusat Kesihatan UKM</button>
        <button id="alertSent-button9" class=" button button-assertive  button-block ">Bomba</button>
    </ion-content>
</ion-view>