<ion-view title="Profil Pengguna" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/nQ3RrEF2Q9ybmLV2gP0x_alessandra.jpg" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="profilPengguna-button-bar1" class=" button-bar "></div>
        <div>
            <p>
                <b></b>
                <u></u>
            </p>
        </div>
        <div>
            <p>

            </p>
        </div>
        <p id="profilPengguna-markdown1" style="color:#000000;font-size:12px;" class=" "></p>
        <p id="profilPengguna-markdown5" style="color:#000000;font-size:12px;" class=" "></p>
        <p id="profilPengguna-markdown2" style="color:#000000;" class=" ">Nama: Alessandra Amelia</p>
        <p id="profilPengguna-markdown6" style="color:#000000;" class=" ">UKMPer/No.Matriks: K0123456</p>
        <p id="profilPengguna-markdown3" style="color:#000000;" class=" ">PTJ: Pusat Teknologi Maklumat</p>
        <p id="profilPengguna-markdown8" style="color:#000000;" class=" ">Tel. Bimbit: 012 3456789</p>
        <p id="profilPengguna-markdown9" style="color:#000000;" class=" ">Tel. Pej: 03 8921 9999</p>
        <p id="profilPengguna-markdown4" style="color:#000000;" class=" ">Jawatan: Pegawai Teknologi Maklumat F41</p>
        <p id="profilPengguna-markdown7" style="color:#000000;" class=" ">Lokasi Terkini: Aras 1,Pusat Teknologi Maklumat</p>
    </ion-content>
</ion-view>