<ion-view title="Timer Alert" hide-back-button="true" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <div>
            <p>
                <b></b>
            </p>
            <center>
                <h3>
                    <b>
                        ApMA Zon Selamat
                    </b>
                </h3>
            </center>
            <p></p>
        </div>
        <button id="timerAlert-button4" class=" button button-positive  button-block ">Bahagian Keselamatan UKM</button>
        <div class="">
            <a style="display:block;" ui-sref="menu.alertSent">
                <img src="img/q8vsMWh2RHuQ27wThTdH_timer.jpeg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <a ui-sref="menu.utama" id="timerAlert-button10" class=" button button-assertive  button-block icon ion-android-cancel "></a>
        <button id="timerAlert-button5" class=" button button-balanced  button-block ">Pusat Kesihatan UKM</button>
        <button id="timerAlert-button6" class=" button button-energized  button-block ">Bomba</button>
    </ion-content>
</ion-view>