<ion-view title="Utama" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <div>
            <p>
                <b></b>
            </p>
            <center>
                <h3>
                    <b>
                        ApMA Zon Selamat
                    </b>
                </h3>
            </center>
            <p></p>
        </div>
        <a ui-sref="menu.timerAlert" id="utama-button2" class=" button button-positive  button-block ">Bahagian Keselamatan UKM</a>
        <button id="utama-button3" class=" button button-balanced  button-block ">Pusat Kesihatan UKM</button>
        <button id="utama-button1" class=" button button-energized  button-block ">Bomba</button>
    </ion-content>
</ion-view>